#core
opencv-python>=4.9,<4.11
ultralytics>=8.0,<9

# Data
pandas>=2.0,<3
numpy>=1.24,<2.0

# Utilities
tqdm>=4.66,<5
python-dotenv>=1.0,<2
pydantic>=2.0,<3
PyYAML>=6.0,<7

#ocr
paddlepaddle==2.6.2
paddleocr==2.8.1

#database
SQLAlchemy>=2.0,<3
pymysql>=1.1,<2
alembic>=1.13,<2

#webui
streamlit==1.56.0
streamlit-image-annotation==0.8.0
pillow>=10,<12

#development
black>=24,<26
ruff>=0.5,<1
pytest>=8,<9
jupyterlab>=4,<5
